<div class="row">
    <div class="col">
        <div id="Uploads"></div>
    </div>
    <div class="col">
        <label for="url" class="control-label">url:</label>
        <input type="text" class="form-control"  name="url" value="{{url}}">
    </div>
    <div class="col">
        <label for="procedencia" class="control-label">procedencia:</label>
        <input type="text" class="form-control"  name="procedencia" value="{{procedencia}}">
    </div>

    <!--div class="col col-2">
        <label for="fecha" class="control-label">creado:</label>
        <input type="text" class="form-control"  name="fecha" value="{{moment fecha format="DD/MM/YYYY" }}">
    </div-->
    <div class="row">
        <!--label for="documento" class="control-label">documento</label-->
        <div class="col">
            <span class="btn btn-default btn-file">
                 <input id="fileupload" type="file"  name="documento" class="form-control" data-url="/upload">
            </span>
        </div>
    </div>
</div>